<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
 <%= image_tag 'navbar/shop.png',class: "logo", width: '7%', height: '5%'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
<div class="group">
      <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, style: 'color:white; background-color:black;', method: "delete", data: { confirm: 'Are you sure?' } %>
      <%else%>
       <%= link_to " Sign In" ,   new_user_session_path,  style: 'color:white; background-color:black; padding:6px;',   :class => 'navbar-brand' %>
  <% end %>
</div>

    </div>
  </div>
</nav>
