<div class="cartd">
  <%= link_to card_path(current_order.id) do %>
    <span class="bi bi-cart-plus-fill caricone"></span>
    <span class="cartsize"><%= current_order.order_items.size %></span>
  <% end %>
</div>
