body {
  overflow-x: hidden;
}
.navcol{
  background-image: linear-gradient(to right, #C6EA8D, #FE90AF);
}
.fp{
  padding-left: 18rem;
  padding-right: 2rem;
}
.group{
  position: absolute;
  top: 2px;
  right: 0px;
  left: 73rem;
  bottom: 0px;
}
.buttons{
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.profile{
  width: 30%;
  border-radius: 30px;
}
.profiles{
  margin-top: 2rem;
  width: 20%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/*                         signup & sigin device  */
.main {
  display: flex;
  flex-direction: row;
}
.signup-class {
  position:static;
  width: 70%;
  height: 70% ;
  justify-content: right;
  align-items: center;
  margin: 1rem;
}
.custom-class {
  width: 70%;
  min-height: 100% ;
  justify-content: right;
  align-items: center;
  margin: 1rem;
}
.custom {
  width: 30%;
  min-height: 100% ;
  justify-content: left;
  align-items: center;
  margin: 1rem;
}
/* ===============================other page================ */
.mtop{
  margin-top: 4.5rem;
}
/* ==============================slider=================== */
.slidcol{
  background-color: rgb(183, 172, 172);
}
.slidimg{
  margin-left:5rem;
}
.slidtext{
  margin:10rem 0rem 10rem 15rem;
}
/* =============================banner================= */
.banner{
  background-color:rgb(25, 24, 24);
  width: 100%;
  height: 100%;
  margin-top: 7px;
}
.newpr{
  padding: 4rem;
  text-align: center;
  color: white;
}
/* ==========================product ============ */
.cardsetting{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.cardpic{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.linktitle{
  color: black;
  text-decoration: none;
}
.linktitle:hover{
  color: green;
}
/* ++++++++++++++++++++++++++++++++++++ card section +++++++++++++++= */
.field{
  width: 25% !important;
}
.cartsize{
  position: absolute;
  color: white;
  font-size: 1em;
  top: 5px;
}
.caricone{
  font-size: 2em;
  color: green;
  cursor: pointer;
  text-decoration: none;
}
.caricone:hover{
  color:rgb(29, 168, 1);
}
.product-image{
  width: 10%;
  height: 10%;
}
/* ==============================item card */
.cardbg{
  background-color: rgb(211, 207, 207);
}
.Deletebtn{
  background-color: red;
  color: white;
  padding: .5rem;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 2rem;
}
.Deletebtn:hover{
  background-color: red;
  color: white;
}
.quantitfield{
  width: 7rem;
}
/* =================================Payment+++++++++++++++++= */
.paymentbutton{
  margin: 1rem 0rem 1rem 5px;
  padding: 5px 3rem 5px 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}
.paymentbutton:hover{
  background-color:rgb(29, 168, 1);
}
.backhome{
  background-color: black;
  padding: 1rem 5rem;
  color: white;
  border-radius: 3px;
}
.backhome:hover{
  background-color: green;
  color: white;
}
/* ==========================transection record  */
.justify-content-around th {
  padding:0px 2rem;
}
.text-center th {
  text-align: center;
}
td, th {
  padding: 6px 2rem;
}
.searchtop{
  margin-top: 5rem;
}
/* =============================promo code====================== */
.coupnh{
  margin-left: 1rem;
  margin-right: 1rem;
}
.coupns{
  display: flex;
  height: 2rem;
  margin-right: ;
  justify-content: space-between;
}
.coupni{
  width: 8rem;
  outline: none;
}
.coupnb{
  margin-left: 1rem;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.coupnb:hover{
  background-color: green;
}
/* ==============================footer===================== */
.newprr{
  padding: 4rem 0rem 1rem 0rem;
  text-align: center;
  color: white;
}
.footericone{
  display: flex;
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.linkd{
  background-color: white;
  color: blue;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 5px;
}
.yout{
  background-color: red;
  color: white;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 5px;
  margin-left: 1rem;
}
.footernav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 25rem;
  padding-bottom: 5rem;
}
.color{
  color: white;
}
.color:hover{
  color: white;
}
.allri{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0px ;
}
.adcolo{
  color: rgb(155, 153, 153);
}
